{% extends 'base.html' %}

{% block content %}

<h1>Fill out the information below to add a post to this event</h1><hr>

<form method="POST" class="d-grid gap-2 d-md-block ms-3 input-group input-group-lg">
    {{form.hidden_tag()}}
    <h3>Paste a link to a video or image below:</h3> <br> {{form.content_link(class="input-group-text" )}} <br>
    <h3>Write a caption describing your post:</h3> <br> {{form.post_caption(class="input-group-text")}} <br>
    {{form.submit( class="btn btn-outline-primary btn-md" )}}
</form>

{% endblock %}