{% extends "base.html" %}

{% block content %}
    <h1>Welcome to 'I Was There'!</h1><br>

    <h2>Ever wish you had a simple way to relive memories of being at your favorite events?</h2> <br>

    <h3>With 'I Was There' you can! We make it easy to create instances of the concerts or events you attended, to then post your footage and pictures to! You can enter details about the event and add links with captions under each instance you create. Register and log in today to get started!</h3>
{% endblock %}