{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<div style="margin-right: 2%;">
    <br><br><br><h1 class="d-grid gap-2 d-md-block ms-3 text-center">Hello {{current_user.username}}, and welcome to I Was There!</h1><br><br>

    <h2 class="d-grid gap-2 d-md-block ms-3 text-center">Ever wish you had a simple way to relive memories of being at your favorite events?</h2> <br>

    <div style="width: 75%; margin-left: auto; margin-right: auto;">
        <h3 class="d-grid gap-2 d-md-block m-5 text-center">With I Was There, you can! We make it easy to create instances of the concerts or events you attended, to then post your footage and pictures to! You can enter details about the event and add links with captions under each instance you create.</h3>
    </div>

    <p class="d-grid gap-2 d-md-block ms-3 text-center">Click on 'Feed' in the navigation bar to see events, or click 'Profile' to add your own!</p>
</div>

{% else %}

<div style="margin-right: 2%;">
    <br><br><br><h1 class="d-grid gap-2 d-md-block  text-center" ">Welcome to I Was There!</h1><br><br>

    <h2 class="d-grid gap-2 d-md-block  text-center">Ever wish you had a simple way to relive memories of being at your favorite events?</h2> <br><br>

    <div style="width: 75%; margin-left: auto; margin-right: auto;">
        <h3 class="d-grid gap-2 d-md-block  text-center">With I Was There, you can! We make it easy to create instances of the concerts or events you attended, to then post your footage and pictures to! You can enter details about the event and add links with captions under each instance you create. </h3><br>
    </div>

    <p class="d-grid gap-2 d-md-block  text-center">Register and login today to get started!</p>
</div>

{% endif %}

{% endblock %}