{% extends "base.html" %}

{% block content %}

<br><br>
<div class="container-sm" style="background-color: #eeeded; width: 320px; border-radius: 6px; height: 375px; border: solid black 1px;">
    <br><p class="text-center">Please fill out all of the login information fields below</p><br>
    
    <form method="POST" class="d-grid gap-2 d-md-block ms-2">
        {{form.hidden_tag()}}
        {{form.email.label}}: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.email()}} <br><br> 
        {{form.password.label}}: &nbsp{{form.password()}} <br><br>
        <a class="d-flex justify-content-center">{{form.submit(class="btn btn-primary btn-sm")}}</a><br>
    </form>
    
    <br><p class="text-center">Don't have an account?<br><a class="navbar-brand" href="{{url_for('register')}}"> &nbsp&nbsp&nbspRegister here!</a></p>
</div>

{% endblock %}