{% extends 'base.html' %}

{% block content %}


<h1>{{ event.event_name }}</h1>
<h2>{{ user.username }}'s event on {{ event.event_date.strftime('%Y-%m-%d')  }}, {{ event.location }}</h2>
<h3>{{ event.artist }} - {{ genre.genre }}</h3><hr>

<a href="{{url_for('add_post', event_id=event.event_id)}}" class="btn btn-outline-primary btn-sm">Add Post</a><hr>


{% if posts|length == 0 %}

    <a>Click the button above to start adding posts!</a>

{% else %}

    {% for post in posts %}

        <a href="{{ post.content_link }}" class="btn btn-outline-secondary btn-sm">Click to see post!</a>
        <span><span class="fw-bold">@{{user.username}}: </span>{{ post.post_caption }}</span>
        
        <a href="/delete_post/{{post.post_id}}" class="btn btn-outline-danger btn-sm">Delete Post</a><hr>

    {% endfor %}

{% endif %}

{% endblock %}