{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron">

        <h1>Have a memory you want to share?</h1>
        <p>Create an event to organize your content!</p>


        <form  method="POST">
            {{form.hidden_tag()}} <hr>
            {{form.event_name.label}}{{form.event_name()}} <hr>
            {{form.artist.label}}{{form.artist()}} <hr>
            {{form.location.label}}{{form.location()}} <hr>
            {{form.event_date.label}}{{form.event_date()}} <hr>
            {{form.public.label}}{{form.public()}} <hr>
            {{form.genre_id.label}}{{form.genre_id()}} <hr>
            {{form.submit()}}
        </form>
      
    </div>
{% endblock %}