{% extends 'base.html' %}

{% block content %}

{% if events|length == 0 %}

<h1 class="ms-3">{{current_user.username}}'s profile</h1>
<p class="ms-3">{{current_user.email}}</p><hr>

<div class="d-grid gap-2 d-md-block m-3 text-center">
  <a href="{{url_for('new_event')}}" class="btn btn-outline-primary btn-md">Create a new event!</a><br>
</div><hr>

<p class="text-center">Click the button above to create a new event!</p>

{% else %}

<div class="d-grid gap-2 d-md-block text-center">
  <h1>My events</h1>
  <a href="{{url_for('new_event')}}" class="btn btn-outline-primary btn-md m-3">Create a new event!</a><br>
</div><hr>

{% for event in events %}

<div class="card ms-3" style="width: 30rem;">
  <a href="/my_event/{{ event.event_id }}" class="card-body text-decoration-none text-reset"  style="background-color: #def2ff; border: solid black 1px; border-radius: 4px;">
    <h1 class="card-title">{{ event.event_name }}</h1>
    <span class="card-subtitle mb-2 ">Artist: {{ event.artist }} &nbsp-&nbsp Genre: {{ event.genre.genre }}{% if event.sub_genre == None %}{% else %} ({{event.sub_genre.sub_genre}}){% endif %}</span><br>
    <span class="card-text">My event on {{ event.event_date.strftime('%m-%d-%Y') }} <br> {{ event.location }}</span><br>

    {% if event.public == False %}
    <i class='fa fa-lock'></i>
    {% else %}
    <i class="fa fa-globe"></i>
    {% endif %}
    <span class="card-link text-muted">Click to update event</span>
  </a>
</div><br>

{% endfor %}

{% endif %}

{% endblock %}