{% extends "base.html" %}

{% block content %}

<br><br>
<div class="container-sm" style="background-color: #eeeded; width: 360px; border-radius: 6px; height: 460px; border: solid black 1px;">
    <br><p class="text-center">Please fill out all of the registration <br> information fields below</p><br>

    <form method="POST" class="d-grid gap-2 d-md-block ">
        {{form.hidden_tag()}}
        &nbsp{{form.email.label}}: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.email}} <br><br>
        &nbsp{{form.username.label}}: &nbsp&nbsp{{form.username()}} <br><br>
        &nbsp{{form.password.label}}: &nbsp&nbsp&nbsp{{form.password()}} <br><br>
        &nbsp{{form.pass_confirm.label}}: {{form.pass_confirm}} <br><br>
        <a class="d-flex justify-content-center">{{form.submit(class="btn btn-primary btn-sm")}}</a><br>
    </form>

    <p class="text-center">Already have an account?<br><a class="navbar-brand" href="{{url_for('login')}}">&nbsp&nbsp&nbspLogin here!</a></p>
</div>

{% endblock %}