{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron">

        <h1>Update event!</h1>



        <form method="POST">
            {{form.hidden_tag()}} <hr>
            {{form.event_name.label}} {{form.event_name()}} <hr>
            {{form.artist.label}} {{form.artist()}} <hr>
            {{form.location.label}} {{form.location()}} <hr>
            {{form.event_date.label}} {{form.event_date()}} <hr>
            {{form.public.label}} {{form.public()}} <hr>
            {{form.genre_id.label}} {{form.genre_id()}}<hr>
            {{form.sub_genre_id.label}} {{form.sub_genre_id()}}<hr>
            {{form.submit()}}
        </form>
         
        
    </div>


    <script>
        $(document).ready(function () {
            // $("#genre").change(function () {
            //     var url=$("#eventform").attr("subgenre");

            //     var genre_id=$(this).val();

            //     $.ajax({
            //         url: "/subgenre",
            //         method: "POST",
            //         data: { type: type, category_id: genre_id },
            //         dataType: "json",
            //         success: function (data) { //alert(category_id)
            //             var html = "";
            //             for (var count = 0; count < data.length; count++) {
            //                 html += '<option value="' + data[count].id + '">' + data[count].name + "</option>";
            //             }
            //             if (type == "genredata") {
            //                 $("#genre").html(html);
            //                 $("#genre").selectpicker("refresh");
            //             } else {
            //                 $("#subgenre").html(html);
            //                 $("#subgenre").selectpicker("refresh");
            //             }
            //         },
            //     });

            // })

            // $("#genre").selectpicker();

            // $("#subgenre").selectpicker();

            function load_data(category_id) {
                $.ajax({
                    url: "/subgenre",
                    method: "POST",
                    data: {category_id: category_id },
                    dataType: "json",
                    success: function (data) {
                        var html = "";
                        for (var count = 0; count < data.length; count++) {
                            html += '<option value="' + data[count].id + '">' + data[count].name + "</option>";
                            console.log(html)
                        }
                        $("#sub_genre_id").html(html);
                    },
                });
            };

            $(document).on("change", "#genre_id", function () {
                var category_id = $("#genre_id").val();
                load_data(category_id);
            });
        });
    </script>
{% endblock %}