{% extends 'base.html' %}

{% block content %}



<h1>{{ event.event_name }}</h1>
<h2>{{ event.user.username }}'s event on {{ event.event_date.strftime('%Y-%m-%d')  }}, {{ event.location }}</h2>
<h3>{{ event.artist }} - {{ genre.genre }}{% if sub_genre == None %}{% else %} - {{sub_genre.sub_genre}}{%endif %}</h3><hr>


{% if posts|length == 0 %}

    <a>{{event.user.username}} hasn't added any posts to this event yet, be the first!</a>

{% else %}

    {% for post in posts %}


        <div class="d-grid gap-2 d-md-block ms-3">
            <a href="{{ post.content_link }}" class="btn btn-outline-secondary btn-sm">Click to see post!</a>
            {% if current_user.user_id == post.user_id %}
            <a href="/delete_pubpost/{{post.post_id}}" class="btn btn-outline-danger btn-sm">Delete Post</a>
            {% endif %}
            <span><span class="fw-bold">@{{post.user.username}}: </span>{{ post.post_caption }}</span>
        </div><hr>  

    {% endfor %}

    <div class="d-grid gap-2 d-md-block ms-3 text-center">
    <a href="{{url_for('public_post', event_id=event.event_id)}}" class="btn btn-outline-primary btn-sm">Add Post</a>
    </div>

{% endif %}

{% endblock %}